<template>
  <div id="app">
    <div class="hh1">
      <h2>hi</h2>
    </div>
    <Service></Service>
  </div>
</template>

<script>
import Service from '@/components/Service.vue'

export default {
  name: 'App',
  components: {
    Service
  }
}
</script>

<style lang="scss" scoped>
.hh1 {
  h2 {
    color: blue;
  }
}
</style>
